@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  margin: 0;
  /* border: solid red; */
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  background-color: #ebf0f6;
  color: #132238;
}

/* .footer {
  display: flex;
  width: 100vw;
  height: 10rem;
  background-color: grey;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
} */

.App {
  /* border: solid blue; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
h1 {
  font-family: "Inter";
  font-weight: bold;
  font-style: normal;
  font-size: 45px;
  display: flex;
  justify-content: center;
  border-bottom: 3px black solid;
  /* border: solid salmon; */
}
/* 
.footer {
  font-family: "Inter";
  font-weight: bold;
  font-style: normal;
  font-size: 36px;
  display: flex;
  justify-content: center;
  border-bottom: 3px black solid;
  /* border: solid salmon; 
} */

.Navbar {
  display: flex;
  width: 100vw;
  height: 5rem;
  justify-content: space-around;
  position: relative;
  /* background-color: grey; */
}

/* .left_box {
  display: flex;
  width: 2rem;
  height: 1vh;
} */

.nav__buttons {
  display: flex;
  justify-content: center;
  width: 20rem;
  /* font-family: optima; */
  font-size: 2rem;
  /* border-radius: 5px; */
  border: none;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: #364e68;
  color: #98ccd3;
  filter: drop-shadow(0 1px 5px #364e68);
}

.right__buttons {
  /* height: 1.2rem;
  border-radius: 3px; */
  font-family: "Inter";
  display: flex;
  flex-direction: row;
  color: #ebf0f6;
  background: transparent;
  border: none;
  /* margin-top: 20px; */
  font-size: 12pt;
  /* border: white 0.7px solid; */
  align-items: center;
}
.fave {
  display: flex;
  font-family: "Inter";
  margin-top: 20px;
}

.upper__body {
  border: solid pink;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */

  height: 80vh;
  margin: 0 auto;
  /* align-items: center; */
  /* margin-left: 20rem; */
}

.favorites__quotes {
  display: flex;
  /* margin-left: 10rem; */
  justify-content: center;
}

/* .Title {
  display: flex;
  margin-left: 10rem;
  justify-content: center;
  margin-top: 3rem;
} */

.row {
  margin: auto;
  margin-top: 40px;
  width: 75vw;
}

.quotes {
  /* justify-content: space-around; */
  /* border: 1px black solid; */
  border-radius: 10px;
  float: left;
  width: 27%;
  padding: 10px;
  height: 200px;
  margin-left: 50px;
  background-color: #132238;
  color: #ebf0f6;
  text-align: center;
  filter: drop-shadow(0 1px 5px #364e68);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.favorites__footer {
  border-bottom: 3px grey solid;
}

.button__class {
  display: flex;
  align-items: center;
  /* border: white 1px solid; */
  margin-top: 20px;
}
